<app-admin-navbar></app-admin-navbar>

<h1>Cinemas</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Cinema</a>
<a class="btn btn-sm btn-success mb-2" href="cinemas">Update</a>
 <table class="table table-striped">
     <thead>
         <tr>
             <th style="width: 10%">Number</th>
             <th style="width: 30%">Movie Theater</th>
             <th style="width: 10%">Rows</th>
             <th style="width: 10%">Columns</th>
         </tr>
     </thead>
     <tbody>
         <tr *ngFor="let cinema of cinemas">
                 
                 <td>{{cinema.number}}</td>
                 <td>{{cinema.nameMovieTheater}}</td>
                 <td>{{cinema.rows}}</td>
                 <td>{{cinema.columns}}</td>
                 <td style="white-space: nowrap">
                     <button class="btn btn-sm btn-primary mr-1" routerLink="edit/{{cinema.number}}">Edit</button>
                     <button class="btn btn-sm btn-primary mr-1" (click)="deleteCinema(cinema.number)">Delete</button>
                 </td>
         </tr>
         <tr *ngIf="!cinemas">
             <td colspan="4" class="text-center">
                 <span class="spinner-border spinner-border-lg align-center"></span>
             </td>
         </tr>
     </tbody>
 </table>