<div class="content" role="main">
    <h1>Screening</h1>
      <hr>
      <h3>Cinema </h3>
      <input 
       type = "text"
       class = "form-control">
       <hr>
       <h3>Day</h3>
       <input 
        type = "text"
        class = "form-control">
        <hr>
        <h3>Time</h3>
       <input 
        type = "text"
        class = "form-control">
        <hr>
        <hr>
       <button 
       class = "btn btn-primary">
       Register
       </button>
  </div>
  
      
     
  
       