<app-admin-navbar></app-admin-navbar>

<div class="content" role="main">
    <h1>Add new screening</h1>
      <hr>
      <h3>Id </h3>
      <input 
       type = "text"
       class = "form-control"
       [(ngModel)]="id">
       <hr>
       <h3>Cinema number</h3>
       <input 
        type = "text"
        class = "form-control"
        [(ngModel)]="cinemaNumber">
        <hr>
        <h3>Original name of the movie</h3>
      <input 
       type = "text"
       class = "form-control"
       [(ngModel)]="movieOriginalName">
       <hr>

       <h3>Time</h3>
      <input 
       type = "text"
       class = "form-control"
       [(ngModel)]="hour">
       <hr>

       <h3>Capacity</h3>
      <input 
       type = "text"
       class = "form-control"
       [(ngModel)]="capacity">
       <hr>

       <button 
       class = "btn btn-primary"
       (click) = "addScreening()"
       routerLink="..">
       Add screening
       </button>
  </div>
  
      
     
  
       