<div class = "container">
    <div class = "row">
        <div class = "col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <ul class = "nav nav-tabs">
                <li role = "presentation" class="active"><a href="clients">Manage Clients</a></li>
                <li role = "presentation" class="active"><a href="movies">Manage Movies</a></li>
                <li role = "presentation" class="active"><a href="theaters">Manage Movie Theaters</a></li>
                <li role = "presentation" class="active"><a href="cinemas">Manage Cinemas</a></li>
                <li role = "presentation" class="active"><a href="screening">Manage Screening</a></li>
            </ul>
        </div>
    </div>
</div>