<div class="content" role="main">
    <h1>Movie</h1>
      <hr>
      <h3>Original Name </h3>
      <input 
       type = "text"
       class = "form-control">
       <hr>
       <h3>Name</h3>
       <input 
        type = "text"
        class = "form-control">
        <hr>
        <h3>Length</h3>
       <input 
        type = "text"
        class = "form-control">
        <hr>
        <h3>Cast</h3>
       <input 
        type = "text"
        class = "form-control">
        <hr>
        <h3>Director</h3>
       <input 
        type = "text"
        class = "form-control">
        <hr>
        <h3>Gender</h3>
       <input 
        type = "text"
        class = "form-control">
        <hr>
       <button 
       class = "btn btn-primary">
       Register
       </button>
  </div>
  
      
     
  
       