<app-admin-navbar></app-admin-navbar>

<div class="content" role="main">
    <h1>Add new movie</h1>
      <hr>
      <h3>Original Name </h3>
      <input 
       type = "text"
       class = "form-control"
       [(ngModel)]="originalName">
       <hr>
       <h3>Name</h3>
       <input 
        type = "text"
        class = "form-control"
        [(ngModel)]="name">
        <hr>
        <h3>Gendre</h3>
      <input 
       type = "text"
       class = "form-control"
       [(ngModel)]="gendre">
       <hr>

       <h3>Length</h3>
      <input 
       type = "text"
       class = "form-control"
       [(ngModel)]="lenght">
       <hr>

       <h3>Director</h3>
      <input 
       type = "text"
       class = "form-control"
       [(ngModel)]="director">
       <hr>

       <h3>Actors</h3>
      <input 
       type = "text"
       class = "form-control"
       [(ngModel)]="actors">
       <hr>
  
       <button 
       class = "btn btn-primary"
       (click) = "addMovie()"
       routerLink="..">
       Add movie
       </button>
  </div>
  
      
     
  
       