<div class="content" role="main">

    <h1>Client Registration</h1>
    <hr>
    <h3>Name</h3>
    <input 
     type = "text"
     class = "form-control"
     [(ngModel)]="name">
     <hr>
     <h3>Last Name</h3>
     <input 
      type = "text"
      class = "form-control"
      [(ngModel)]="lastName">
      <hr>
      <h3>Second Last Name</h3>
      <input 
       type = "text"
       class = "form-control"
       [(ngModel)]="secLastName">
       <hr>
      <h3>ID</h3>
    <input 
     type = "text"
     class = "form-control"
     [(ngModel)]="id">
     <hr>
     <h3>Phone number</h3>
    <input 
     type = "text"
     class = "form-control"
     [(ngModel)]="phoneNumber">
     <hr>

     <h3>Birth Date</h3>
    <input 
     type = "text"
     class = "form-control"
     [(ngModel)]="birthDate">
     <hr>

     <h3>Age</h3>
    <input 
     type = "text"
     class = "form-control"
     [(ngModel)]="age">
     <hr>

     <h3>Password</h3>
    <input 
     type = "password"
     class = "form-control"
     [(ngModel)]="password">
     <hr>

     <button 
     class = "btn btn-primary"
     (click) = "onClickRegister()">
     Register
     </button>

</div>