
<app-admin-navbar></app-admin-navbar>

<h1>Movies</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Movie</a>
<a class="btn btn-sm btn-success mb-2" href="movies">Update</a>
 <table class="table table-striped">
     <thead>
         <tr>
             <th style="width: 10%">Original Name</th>
             <th style="width: 10%">Name</th>
             <th style="width: 10%">Gender</th>
             <th style="width: 10%">Director</th>
             <th style="width: 20%">Actors</th>
             <th style="width: 20%">Screenings</th>
             <th style="width: 10%">Length</th>
             <th style="width: 10%">Image</th>
         </tr>
     </thead>
     <tbody>
         <tr *ngFor="let movie of movies">
                 
                 <td>{{movie.originalName}}</td>
                 <td>{{movie.name}}</td>
                 <td>{{movie.gendre}}</td>
                 <td>{{movie.director}}</td>
                 <td>{{movie.actors}}</td>
                 <td>{{movie.screenings}}</td>
                 <td>{{movie.lenght}}</td>
                 <td>Image</td>
                 <td style="white-space: nowrap">
                     <a class="btn btn-sm btn-primary mr-1">Edit</a>
                     <button class="btn btn-sm btn-primary mr-1" (click)="deleteMovie(movie.originalName)">Delete</button>
                 </td>
         </tr>

         <tr *ngIf="!movies">
             <td colspan="4" class="text-center">
                 <span class="spinner-border spinner-border-lg align-center"></span>
             </td>
         </tr>
     </tbody>
 </table>