<app-admin-navbar></app-admin-navbar>

   <h1>Client Accounts</h1>
   <a routerLink="add" class="btn btn-sm btn-success mb-2">Add Client</a>
   <a class="btn btn-sm btn-success mb-2" href="clients">Update</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 14%">Id</th>
                <th style="width: 34%">Name</th>
                <th style="width: 14%">Birth Date</th>
                <th style="width: 14%">Age</th>
                <th style="width: 14">Phone Number</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of accounts">
                    
                    <td>{{account.id}}</td>
                    <td>{{account.firstName}} {{account.lastName}} {{account.secLastName}}</td>
                    <td>{{account.birthDate}}</td>
                    <td>{{account.age}}</td>
                    <td>{{account.phoneNumber}}</td>
                    <td style="white-space: nowrap">
                        <button class="btn btn-sm btn-primary mr-1" routerLink="edit">Edit</button>
                        <button class="btn btn-sm btn-primary mr-1" (click)="deleteClient(account.id)" [routerLink]="['.']">Delete</button>
                    </td>
            </tr>

            <tr *ngIf="!accounts">
                <td colspan="4" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        </tbody>
    </table>

 