<div class="content" role="main">
    <h1>Cinemas</h1>
      <hr>
      <h3>Theater </h3>
      <input 
       type = "text"
       class = "form-control">
       <hr>
       <h3>ID</h3>
       <input 
        type = "text"
        class = "form-control">
        <hr>
        <h2>Seats information</h2>
        <h3>Columns</h3>
      <input 
       type = "text"
       class = "form-control">
       <hr>

       <h3>Rows</h3>
      <input 
       type = "text"
       class = "form-control">
       <hr>
  
       <button 
       class = "btn btn-primary">
       Register
       </button>
  </div>
  
      
     
  
       